// Colors
@gray:				#f2f2f2;
@black:				#333333;
@white:				#fff;
@primary-color:		#f8ae44;

// Fonts
@font: 'Lato', sans-serif;

// HTML
html, #panel {
	height: 100%;
}

// body
body {
	height: 100%;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased !important;
}

// Fonts
h1,h2,h3,h4,h5,h6, a {
	font-family: @font;
}

p, li {
	font-family: @font;
}

h1 {
	font-size: 36px;
	font-weight: 900;
	line-height: 43px;
	color: @black;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	font-weight: 900;
	color: @black;
	margin: 20px 0;
	text-transform: uppercase;
}
p, li {
	font-size: 18px;
	color: @black;
	line-height: 26px;
	font-weight: 300;
}

// Defaults
fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

:focus {
  outline: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

section {
	padding: 50px 0;
	position: relative;
	.down {
		position: absolute;
		top: -39px;
		left: 50%;
		margin-left: -114px;
	}
	.section-header {
		text-align: center;
		h1 {
			margin-bottom: 30px;
		}
		p {
			max-width: 532px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
	}
}

.button {
	background-color: transparent;
	display: inline-block;
	border: 2px solid @black;
	padding: 8px 30px;
	border-radius: 3px;
	color: @black;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 20px;
	font-weight: 700;
	&:hover {
		background-color: @black;
		color: @white;
		text-decoration: none;
	}
	&:visited {
		color: @black;
	}
}

// login form
#Security {
	background-position: left top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	.pattern-overlay {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		width: 100%;
		.container {
			.loginform {
				background-color: white;
				max-width: 400px;
				margin: 0 auto;
				border-radius: 15px;
				padding: 20px 30px 50px 30px;

				.logo {
					display: block;
					margin: 20px auto;
				}

				.text {
					input {
						width: 100%;
						height: 40px;
						border-radius: 5px;
						border: 1px solid @black;
						margin-bottom: 10px;
						padding-left: 10px;
					}
				}
				.checkbox {
					input {
						margin: 0;
						margin-top: 3px;
						display: inline-block;
					}
				}
				.Actions {
					input {
						width: 100%;
						line-height: 30px;
						background-color: @primary-color;
						border-radius: 3px;
						border: none;
						color: @white;
						font-weight: 900;
					}
					p {
						padding-top: 10px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

// Header
.Header {
	padding: 10px 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	#menubutton {
		display: none;
	}
	.container {
		.logo {
			float: left;
		}
		.nav {
			float: right;
			ul {
				padding: 0;
				li {
					list-style-type: none;
					display: inline-block;
					a {
						line-height: 73px;
						padding: 0 15px;
						color: @black;
						text-transform: uppercase;
						font-size: 15px;
						font-weight: 900;
					}
				}
			}
		}
	}
}

// homepage
.HomePage {
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	position: relative;
	width: 100%;
	padding: 0;
	.pattern-overlay {
		height: 100% !important;
		width: 100%;
		.container {
			text-align: center;
			p {
				line-height: 55px;
				font-size: 36px;
				font-weight: 900;
				color: @black;
				margin: 0;
				text-transform: uppercase;
				font-family: @font;
				max-width: 750px;
				margin: 170px auto 0 auto;
			}
		}
	}
}

// offering
.Offering {
	padding-bottom: 0;
	background-position: center bottom;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
	padding-top: 75px;
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
	.down {
		top: 0px;
		height: 40px;
		width: 100%;
		left: 0;
		background-position: center center;
		margin-left: 0;
	}
	.container {
		.section-header {
			h1 {
				color: @white;
			}
		}
		.row {
			margin-top: 50px;
			.offer {
				position: relative;
				a {
					text-align: center;
					position: relative;
					text-decoration: none;
					h2 {
						color: @white;
						font-size: 14px;
						line-height: 28px;
					}
					.circle {
						width: 119px;
						height: 119px;
						border-radius: 50%;
						border: 5px solid @white;
						margin: 0 auto;
						&:hover {
							background-color: @white;

							span {
								&.offer-1 {
									background-position: -88px;
								}
								&.offer-2 {
									background-position: -46px;
								}
								&.offer-3 {
									background-position: -61px;
								}
								&.offer-4 {
									background-position: -53px;
								}
								&.offer-5 {
									background-position: -46px;
								}
								&.offer-6 {
									background-position: -39px;
								}
								&.offer-7 {
									background-position: -87px;
								}
							}
						}
						span {
							display: inline-block;
							margin-top: 25px;
							height: 60px;
							&.offer-1 {
								width: 88px;
							}
							&.offer-2 {
								width: 46px;
							}
							&.offer-3 {
								width: 61px;
							}
							&.offer-4 {
								width: 53px;
							}
							&.offer-5 {
								width: 46px;
							}
							&.offer-6 {
								width: 39px;
								height: 58px;
							}
							&.offer-7 {
								width: 87px;
							}
						}
					}
				}
				.popover {
					width: 300px;
					max-width: 300px;
					left: 50% !important;
					margin-left: -150px;
					&.top {
						margin-top: -35px;
						&>.arrow {
							left: 50% !important;
						}
					}
					.popover-content {
						ul {
							padding-left: 0;
							li {
								list-style-type: none;
								font-size: 12px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
	}
}

.Differentation {
	padding-bottom: 100px;
	.numbers {
		display: none;
	}
	.chart {
		position: relative;
		width: 532px;
		height: 531px;
		margin: 0 auto;
		.cycle {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -80px;
			margin-top: -65px;

		}
		.puzzle {
			a {
				overflow: auto;
				div {
					position: relative;
					span {
						position: absolute;
						top: 50%;
						left: 50%;
						font-size: 50px;
						color: @white;
						font-weight: 700;
						margin-top: -35px;
						margin-left: -14px;
					}
				}
			}
			.popover {
				.arrow {
					display: none;
				}
				width: 300px;
				max-width: 300px;
				h3 {
					font-weight: 700;
					font-size: 12px;
					text-transform: uppercase;
				}
				.popover-content {
					ul {
						padding-left: 0;
						li {
							list-style-type: none;
							font-size: 12px;
							line-height: 20px;
						}
					}
				}

			}
			&.pos-1 {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -188px;
				.image {
					width: 376px;
					height: 183px;
					background-position: -6px -187px;
					&:hover {
						background-position: -6px -4px;
					}
				}
				.popover {
					left: 50% !important;
					margin-left: -150px;
					&.top {
						margin-top: -20px;
					}
				}
			}
			&.pos-2 {
				position: absolute;
				top: 50%;
				right: -2px;
				margin-top: -187px;
				.image {
					width: 183px;
					height: 374px;
					background-position: -11px 0px;
					&:hover {
						background-position: -194px 0px;
					}
				}
				.popover {
					top: 50% !important;
					left: 200px !important;
					margin-top: -34px !important;
				}
			}
			&.pos-3 {
				position: absolute;
				bottom: -2px;
				left: 50%;
				margin-left: -187px;
				.image {
					width: 376px;
					height: 183px;
					background-position: -6px -5px;
					&:hover {
						background-position: -6px -187px;
					}
				}
				.popover {
					left: 50% !important;
					margin-left: -150px;
					&.top {
						margin-top: 0px;
					}
				}
			}
			&.pos-4 {
				position: absolute;
				top: 50%;
				left: -2px;
				margin-top: -187px;
				.image {
					width: 183px;
					height: 374px;
					background-position: -193px 0px;
					&:hover {
						background-position: -11px 0px;
					}
				}
				.popover {
					top: 50% !important;
					left: -320px !important;
					margin-top: -34px !important;
				}
			}
		}
	}
}

// client
.Clients {
	background-color: @gray;
	padding-bottom: 100px;
	.container {
		.row {
			&.first {
				margin: 75px 0;
			}
			.image {
				img {
					margin: 0 auto;
				}
			}
		}
	}
}

.Team {
	padding-bottom: 75px;
	&.mobile {
		display: none;
	}
	.container {
		.member {
			ul {
				list-style-type: none;
				padding: 0;
			}
			&.col {
				position: inherit;
				overflow: hidden;

				a.collapse-toggle {
					display: inline-block;
					font-weight: 300;
					font-size: 18px;
					font-style: italic;
					color: black;
					text-decoration: none;
					&.active {
						border-bottom: 4px solid @primary-color;
					}

					&:hover {
						cursor: pointer;
					}
					img {
						max-height: 245px;
					}
				}

				.collapse {
					height: 320px;
					margin-bottom: 40px;

					.section {
						background-color: @white;
						text-align: left;
						position: absolute;
						width: 100%;
						overflow: hidden;
						left: 0;
						.container {
							position: relative;

						}

						.close {
							opacity: 1;
							right: 20px;
							position: absolute;
							top: 20px;
							z-index: 4;
							&:hover {
								opacity: .4;
								cursor: pointer;
							}
						}
						.col-sm-8 {
							padding-top: 30px;
						}
						.col-sm-3 {
							float: right;
							h2 {
								margin-top: 40px;
							}
						}
					}
				}
			}
		}

	}
}

.UserDefinedForm {
	background-color: @gray;
	.container {
		form {
			margin-top: 20px;
			::-webkit-input-placeholder {
				font-size: 14px;
				font-family: @font;
				font-weight: 300;
				color: @black;
			}

			:-moz-placeholder { /* Firefox 18- */
				font-size: 14px;
				font-family: @font;
				font-weight: 300;
				color: @black;
			}

			::-moz-placeholder {  /* Firefox 19+ */
				font-size: 14px;
				font-family: @font;
				font-weight: 300;
				color: @black;
			}

			:-ms-input-placeholder {
				font-size: 14px;
				font-family: @font;
				font-weight: 300;
				color: @black;
			}
			input, textarea {
				float: left;
				width: 60%;
				border: 2px solid @black;
				margin-bottom: 10px;
				border-radius: 3px;
				height: 35px;
				padding-left: 20px;
				font-size: 14px;
				font-weight: 300;
				font-family: @font;
				background-color: transparent;
				&.action {
					.button;
					border: none;
					width: 200px;
					background-color: @primary-color;
					color: @white;
					font-weight: 900;
					font-family: @font;
					&:hover {
						background-color: darken(@primary-color, 20%);
					}

				}
			}
			textarea {
				width: 90%;
				height: 150px;
			}
		}
		.col-sm-4 {
			float: right;
			ul {
				padding-left: 0;
				list-style-type: none;
			}
		}
	}
}

.footer {
	padding: 0;
	p,a {
		margin: 0;
		text-align: center;
		line-height: 60px;
		color: @black;
		font-weight: 900;
		font-family: @font;
		text-transform: uppercase;
		font-size: 14px;
	}
}

@media (max-width: 991px) {
	section {
		.row {
			h1 {
				margin-bottom: 20px;
			}
		}
	}

	h1 {
		font-size: 30px;
		line-height: 40px;
	}

	h2 {
		font-size: 16px;
		line-height: 26px;
	}
	p, li {
		font-size: 14px;
		line-height: 24px;
	}

	.Header {
		.container {
			text-align: center;
			a {
				&.logo {
					float: none;
				}
			}
			.nav {
				display: none;
			}
		}
		#menubutton {
			position: absolute;
			right: 0;
			top: 20px;
			display: block;
			span {
				color: @black;
				padding-right: 10px;
				font-size: 14px;
				text-transform: uppercase;
				font-family: @font;
				text-decoration: none;
				font-weight: 700;
			}
		}
	}

	#menu {
		background-color: @black;
		padding: 20px;
		ul {
			padding-left: 0;
			li {
				a {
					font-size: 14px;
					line-height: 40px;
					color: @white;
					text-transform: uppercase;
				}
			}
		}
	}

	.HomePage {
		.pattern-overlay {
			.container {
				p {
					margin: 130px auto 0 auto;
					font-size: 30px;
				}
			}
		}
	}

	.Differentation {
		.container {
			.chart {
				display: none;
			}
			.numbers {
				display: block;
				.circular {
					background-color: @primary-color;
					border-radius: 50%;
					height: 61px;
					width: 61px;
					text-align: center;
					span {
						font-size: 30px;
						font-weight: 700;
						font-family: @font;
						color: @white;
						padding-top: 10px;
						display: inline-block;
					}
				}
				ul {
					padding-left: 10px;
				}
			}
		}
	}

	.Team {
		.container {
			.row {
				.col {
					.section {
						.container {
							.close {
								top: 3px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.HomePage {
		.pattern-overlay {
			.container {
				p {
					margin: 100px auto 0 auto;
				}
				a {
					background-color: @black;
					color: @white;
				}
			}
		}
	}
	.Offering {
		.desktop {
			display: none;
		}
		.mobile {
			display: block;
		}
		.container {
			.section-header {
				h1 {
					margin-bottom: 50px;
				}
			}
			.row {
				margin: 0;
				.offer {
					margin-bottom: 30px;
					.popover {
						left: 50% !important;
						margin-left: -150px;
						&.top {
							&>.arrow {
								left: 50% !important;
							}
						}
					}
				}
			}
		}
	}

	.Clients {
		padding-bottom: 50px;
		.container {
			.row {
				&.first {
					margin: 0;
				}
				.image {
					margin-bottom: 50px;
				}
			}
		}
	}

	.Team {
		&.desktop {
			display: none;
		}
		&.mobile {
			display: block;
		}
		.container {
			.row {
				.col {
					text-align: center;
					a {
						img {
							max-height: 250px;
						}
					}
					.collapse {
						height: 350px;
						.section {
							.container {
								.close {
									top: 20px;
									right: 40px;
								}
								.row {
									.col-sm-12 {
										padding: 0 40px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 676px) {
	.Team {
		.container {
			.row {
				.col {
					.collapse {
						height: 380px;
					}
				}
			}
		}
	}
}

@media (max-width: 567px) {
	.Header {
		.container {
			.logo {
				img {
					max-width: 200px;
				}
			}
		}
	}
	.HomePage {
		.pattern-overlay {
			.container {
				p {
					font-size: 25px;
				}
			}
		}
	}
	.Offering {
		.container {
			.row {
				.offer {
					&.even {
						.popover {
							left: auto !important;
							right: 0 !important;
							&.top {
								&>.arrow {
									left: auto !important;
									right: 35%;
								}
							}
						}
					}
					&.odd {
						.popover {
							left: 0 !important;
							margin-left: 0;
							&.top {
								&>.arrow {
									left: 35% !important;
								}
							}
						}
					}
				}
			}
		}
	}
	.Differentation {
		.container {
			.numbers {
				.col-xs-6 {
					width: 100% !important;
					margin-bottom: 50px;
				}
			}
		}
	}
	.UserDefinedForm {
		.container {
			form {
				input, textarea {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 490px) {
	h1 {
		font-size: 22px !important;
		line-height: 35px !important;
	}

	h2 {
		font-size: 14px;
		line-height: 24px;
	}
	p, li {
		font-size: 12px;
		line-height: 22px;
	}
	.Team {
		.container {
			.row {
				.col {
					.collapse {
						height: 420px;
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.Header {
		.container {
			.logo {
				img {
					max-width: 150px;
				}
			}
		}
	}
	.HomePage {
		.pattern-overlay {
			.container {
				p {
					font-size: 18px;
					line-height: 32px;
				}
			}
		}
	}
	.Offering {
		.container {
			.row {
				.offer {
					&.even {
						.popover {
							&.top {
								&>.arrow {
									right: 20%;
								}
							}
						}
					}
					&.odd {
						.popover {
							&.top {
								&>.arrow {
									left: 20% !important;
								}
							}
						}
					}
				}
			}
		}
	}
	.Team {
		.container {
			.row {
				.col {
					.collapse {
						height: 530px;
					}
				}
			}
		}
	}
}